* {
    padding: 0px;
    margin: 0px;
}

#corpo {
    height: auto;
}

#rowRight{
    position: absolute;
    right: 30px;
    top: 278px;
    height: 100px;
    width: 100px;
}

#rowLeft{
    position: absolute;
    left: 30px;
    top: 278px;
    height: 100px;
    width: 100px;
}

#selection {
    display: flex;
    justify-content: center;
    height: auto;

    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 70px;
}

.button {
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}