*{
    padding: 0px;
    margin: 0px;
}

#selection{
    display: flex;
    justify-content: center;
    position: relative;
    top: 260px;
    font-size: 22px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 600px;
}

.button{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
}
